aside {
    display: flex;

    background-color: #ffbf75;


    & form {
        padding: 1rem;

        & button {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }


    & .panel-container {
        display: flex;
        flex-direction: column;
        font-family: "title";

        & h2 {
            text-align: center;
        }
        
        & .user-piso {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: "body";

            & h4 {
                font-family: "title";
            }
            
            & .card {
                margin-right: 3rem;
            }
        }

    }


    

    
    & ul {
        list-style: none;
        padding-right: 2rem;
        
        & li {
            padding-top: 0.5rem;

            & img {
                border-radius: 8rem;
            }

            & p {
                text-align: center;
            }

          }

          & button {
              width: 100%;
          }
          
      }
    

  }