.main {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    flex: 1 0 auto;
    background-color: #9BA3EB;

    & .buscador form {
        display: flex;

        & input[type="search"] {
            width: 30rem;
          }
      }
  }

.formBuscador {
    text-align: center;
}
.volver {
    text-align: center;
    margin-top: 1rem;
}

.alert {
    margin-top: 1rem;
    display: none;
}

.disponible {
    color: green;

}

.ocupado {
    color: red;
}

.piso {
    display: flex;
    margin-top: 1rem;
    border: 1px solid black;
    border-radius: 3rem;
    color: black;

    & img {
        border-bottom-left-radius: 3rem;
        border-top-left-radius: 3rem;
    }

    & .piso-content {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    & .piso-info {
        display: flex;
        justify-content: space-between;
        flex: 1 0 auto;


    }

    & .piso-extra {
        display: flex;
        justify-content: space-between;
    }
}

.pisos {
    display: flex;
    flex-direction: column;

    & .paginacion {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        
        & button {
            width: 46%;
        }
    }

    & a:link, a:visited, a:hover, a:active {
        text-decoration: none;
        
    }
}

