.main {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 0.5rem;
    flex: 1 0 auto;

    & .buscador form {
        display: flex;

        & input[type="search"] {
            width: 30rem;
          }
      }
  }

.piso {
    display: flex;
}

