.pisos-content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    
}

.piso-ciudad {
    text-align: center;
}

.piso-header {
    display: flex;
    border-bottom: 1px solid black;

}

.piso-header-container {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;

    & .btn {
        margin-bottom: 1rem;
    }

    & .piso-titulo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 2rem;
    
    }

    & .piso-miembros {
        display: flex;
        flex-direction: column;
        width: 20%;
        padding-right: 1rem;
    
        & .piso-listaMiembros {
            border: 1px solid black;

            & li {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 0.3rem;

                & button {
                    margin-right: 1rem;
                }
            }
        }
    
        & h2 {
            text-align: center;
        }
    }

    & .h3 {
        color: green;
    }
}

.carousel-root {
    width: 15rem;
    
}

.slider-wrapper.axis-horizontal {

    border-right: 5px solid black;
    border-bottom: 5px solid black;

}

.piso-content {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;

    & .piso-descripcion {
        width: 30%;
        padding-left: 1rem;
        margin-top: 1rem;
    
        & h3 {
            flex: 1 0 auto;
            border-bottom: 1px solid black;
            text-align: center;
            padding-bottom: 1rem;
        }

    }

    .piso-interesados {
        display: flex;
        flex-direction: column;
        width: 20%;
        padding-right: 1rem;
    
        & .piso-listaInteresados {
            border: 1px solid black;
            
            & li {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 0.3rem;

                & button {
                    margin-right: 1rem;
                }
            }
        }
    
        & h2 {
            text-align: center;
        }
    }
}

