.pisos-content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    
}

.piso-ciudad {
    text-align: center;
}

.piso-header {
    display: flex;
    border-bottom: 1px solid black;

}

.piso-header-container {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;

    & .btn {
        margin-bottom: 1rem;
    }

    & .piso-titulo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 2rem;
    
    }

    & .piso-control {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        & .dropdown {

            & ul {
                background-color: #494c50;
            }

            & .btn {
                background-color: #ffbf75;
                color: black;
           }

           & a:hover {
            background-color: black;
           }

           & .dropdown-divider {
               color: #ffbf75;
           }
           
        }


    }

    & .piso-miembros {
        display: flex;
        flex-direction: column;
        width: 25%;
        padding-right: 1rem;
    
        & .piso-listaMiembros {
            border: 1px solid #ffbf75;

            & .miembros-buttons {
                display: flex;
                align-items: center;
                margin-left: 0.3rem;

                & button {
                    margin-right: 0.3rem;
                }
            }

            & li {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 0.3rem;

            }
        }
    
        & h2 {
            text-align: center;
        }
    }

    & .h3 {
        color: green;
    }
}

.carousel-root {
    width: 15rem;
    
}

.slider-wrapper.axis-horizontal {

    border: 5px solid white;

}

.piso-content {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;

    & .piso-descripcion {
        width: 25%;
        padding-left: 1rem;
        margin-top: 1rem;
    
        & h3 {
            flex: 1 0 auto;
            border-bottom: 1px solid #ffbf75;
            text-align: center;
            padding-bottom: 1rem;
        }

    }

    .piso-interesados {
        display: flex;
        flex-direction: column;
        width: 30%;
        padding-right: 1rem;
    
        & .piso-listaInteresados {
            border: 1px solid #ffbf75;

            & .interesados-buttons {
                display: flex;
                align-items: center;
                margin-left: 0.3rem;

                & button {
                    margin-right: 0.3rem;
                }
            }
            
            & li {
                display: flex;
                align-items: center;
                padding: 0.3rem;
                justify-content: space-between;

            }
        }
    
        & h2 {
            text-align: center;
        }
    }
}

