.user-container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    color: white;
    flex: 1 0 auto;

    & .user-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid white;


    }

    & .user-titulo {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid white;
        margin-top: 1rem;

        & h1 {
            flex: 1 0 auto;
            
        }
    }

    & .user-personal {
        display: flex;
        justify-content: space-around;
        padding: 1rem;
        border-bottom: 1px solid white;
        text-align: center;

        & .user-nombre {
            width: 20%;
            background-color: white;
            color: black;
            border-radius: 2rem;
        }

        & .user-apellidos {
            width: 20%;
            background-color: white;
            color: black;
            border-radius: 2rem;
        }
    }

    & .user-informacion {
        display: flex;
        justify-content: space-around;
        padding: 1rem;
        border-bottom: 1px solid white;
        text-align: center;

        & .user-telefono {
            width: 20%;
            background-color: white;
            color: black;
            
        }

        & .user-email {
            width: 20%;
            background-color: white;
            color: black;
           
        }
    }

    & .user-header-editar {
        display: flex;
        
        border-bottom: 1px solid white;

    }

    & .user-basico {
        display: flex;
        justify-content: space-around;
        padding: 1rem;
        border-bottom: 1px solid white;
        text-align: center;

        & .user-sexo {
            width: 20%;
            background-color: white;
            color: black;
            
        }

        & .user-edad {
            width: 20%;
            background-color: white;
            color: black;
        }
    }

    & .user-about {
        display: flex;
        justify-content: space-around;
        padding: 1rem;
        border-bottom: 1px solid white;
        text-align: center;

        & .user-sobremi {
            width: 20%;
            background-color: white;
            color: black;

        }

        & .user-gustos {
            width: 20%;
            background-color: white;
            color: black;
        }

        & textarea {
            resize: none;
        }

    }

    & h1 {
        text-align: center;
        margin-bottom: 2rem;
    }

    // & h4 {
    //     text-align: right;
    // }

    & .form-guardar {
        padding: 1rem;

        & input[type="submit"] {
            display: block;
            margin: 0 auto;
        }
    }


}