.user-container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;

    & .user-titulo {
        display: flex;
        justify-content: space-around;
        height: 10%;
        margin-top: 1rem;

        & h1 {
            flex: 1 0 auto;
            margin-left: 5rem;
        }
    }

    & .user-header {
        display: flex;
        height: 50%;
        border-bottom: 1px solid black;

        & img {
            flex: 0 0 30%;
        }
    }

    & .user-header-editar {
        display: flex;
        height: 45%;
        border-bottom: 1px solid black;

        & .user-imagen {
            display: flex;
            flex-direction: column;
            width: 30%;

            & img {
                flex: 1 0 auto;
            }
        }
    }

    & .user-basico {
        display: flex;
        justify-content: space-around;
        height: 15%;
        margin-top: 1rem;
        border-bottom: 1px solid black;

        & .user-sexo {
            display: flex;
            flex-direction: column;
            align-items: space-between;
            margin-right: 5rem;
        }

        & .user-edad {
            display: flex;
            flex-direction: column;
            align-items: space-between;
            margin-right: 7rem;
        }
    }

    & .user-informacion {
        display: flex;
        justify-content: space-around;
        flex: 1 0 30%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid black;

        & .user-sobremi {
            display: flex;
            flex-direction: column;
            align-items: space-around;
        }

        & .user-gustos {
            display: flex;
            flex-direction: column;
            align-items: space-around;
        }

    }

    & h1 {
        text-align: center;
        margin-bottom: 5rem;
    }

    & h4 {
        text-align: right;
    }

    & .form-guardar {
        height: 20%;

        & input[type="submit"] {
            display: block;
            margin: 0 auto;
        }
    }


}