//FUENTES
@font-face {
  font-family: "title";
  src: url("../../public/font/Roboto-Bold.ttf");
}

@font-face {
  font-family: "body";
  src: url("../../public/font/Roboto-Regular.ttf");
}

body {
    font-family: "body";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "body";
    font-size: 0.9rem;
    min-width: 375px;
    background-color: #1c1f23 !important;
}

header {
    display: flex;
    background-color: #8b8d92;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  .content {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;  
    
    margin-top: 1rem;
  }
  

  footer {
    display:flex;
    flex: 0 0 auto;
    background-color: #242F9B;
    padding: 1.75rem 0;
  }

@import "./components/aside";
@import "./components/main";
@import "./components/user";
@import "./components/piso";
