body {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "body";
    font-size: 0.9rem;
    min-width: 375px;
}

header {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    
  }

  .content {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;  
    border: 1px solid black;
  }
  

  footer {
    display:flex;
    flex: 0 0 auto;
    background-color: #242F9B;
    padding: 1.75rem 0;
  }

@import "./components/aside";
@import "./components/main";
@import "./components/user";
@import "./components/piso";